<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618991602892-ei2cpd6i5230vpsudnuqquqgogrkrivl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618991602892-ei2cpd6i5230vpsudnuqquqgogrkrivl</string>
	<key>API_KEY</key>
	<string>AIzaSyDcO_DHJBkMWOMqgMW3hOu7Aw2KQ464N3g</string>
	<key>GCM_SENDER_ID</key>
	<string>618991602892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>newproject-bed39</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-bed39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618991602892:ios:cf523e0a91b40a58768669</string>
</dict>
</plist>